body{
	background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 120% 120%;
    min-height: 1006px;
}



#foto{
    margin-left: 400px;
    width:30%;
    height:20%;
    margin-top: -78px;
    min-width: 279px;
    display: none;
}


#radio{
    text-align: center;
    font-family: fonte4;
    display: none;
}

#myDivValores{
	height: 80%;
    width: 60%;
    background-image: url(../imagens/fundo2.jpg);
    position: fixed;
    top: 15%;
    right: 22%;
    display: none;
    min-width: 468px;
}

#clickContato{
    height: 68%;
    width: 50%;
    background-color: #e3e9ff;
    top: 24%;
    right: 27%;
    display: none;
    min-width: 397px;
    margin: 0 auto;
}


#textTitulo{
	text-align: center;
    margin-top: 25%;
    text-decoration: underline;
    font-family: fonte1;
}

#text{
    text-align: center;
    height: 40%;
    width: 50%;
    min-width: 372px;
    bottom: 19%;
    margin: 0 auto;
}

.menu1{
	background-color: #ffb1cd;
	height: 60px;
    font-family: fonte3;
    font-size: 200%;
    min-width: 900px;
}


.menu2{
    background-color: #ff70c6;
    height: 60px;
    font-family: fonte1;
    font-size: 200%;
    min-width: 1930px;

}

.menu{
	margin: 0 auto;
}


.menuNome{
    margin: 0 auto;
    color: #e3e9ff;
    margin-right: 42%;

}


@font-face{
    font-family: fonte1;
    src: url("../fonts/fontSite.ttf");
}


@font-face{
    font-family: fonte2;
    src: url("../fonts/fontBlack.ttf");
}

@font-face{
    font-family: fonte3;
    src: url("../fonts/fontMenu.ttf");
}


#promocao{
   text-align: center;
    display: none;
    margin-top: 10px;
    font-family: fonte2;
    font-size: 600%;
    color: #ffe9e9;
    min-width: 900px;
    width: 10%;
    margin: 0 auto;
    margin-top: 4%;
    display: block;
}

.fontDani{
    font-family: fonte1;
}
.fontDani{
    font-family: fonte2;
}
.fontDani{
    font-family: fonte3;
}


.myDivSlide{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    min-width: 900px;
}


.carousel{
    width: 75%;
    height: 630px;
    top: 5%;
    margin: 0 auto;
}

 .none{
    position: fixed;
    top: 68%;
    width: 13%;
    color: black;
    text-align: center;
}


#texto1{
    text-decoration: line-through;
    color: red;
    text-align: center;
}

#titulo{
	width: 40%;
    margin: 0 auto;
    color: #ff1fa5;
    font-family: fonte1;
    font-size: 306%;
    min-width: 372px;
    display: none;
}

#orcamento{
	width: 40%;
    margin: 0 auto;
    color: #007bff;
    font-family: fonte1;
    font-size: 222%;
    min-width: 380px;
}

#opcoes{
	width: 15%;
    margin: 0 auto;
    font-family: fonte1;
    font-size: 222%;
    color: #ff1ea5;
}

#opcoes2{
	width: 42%;
    margin: 0 auto;
    min-width: 382px;

}

#valor{
	width: 40%;
    margin: 0 auto;
    min-width: 334px;
    display: none;
     margin-bottom: 2%;
}

#pagamento{
    width: 124%;
    margin: 0 auto;
    margin-left: -10px;
    min-width: 1020px;
    margin-top: 58px;
}

#entrada{
    width: 25%;
}

#btCalcular{
    margin-left: 73%;
    margin-top: -40px;
}



#cartoes{
    height: 68px;
    width: 68%;
    margin: 0 auto;
    margin-top: 140px;
    min-width: 900px;
    display: none;
}

.logoCartoes{
    height: 97%;
    width: 16%;
    margin: 0 auto;
}


.flores {
    width: 70%!important;
    margin: 0 auto;
}

.image{
    height: 90px;
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 30px;
    margin-bottom: 20px;
}


.container{
    margin: 0 auto;
    height: 100%;
    width: 110%;
}

#divContainer{
    margin: 0 auto;
    height: 100%;
    background-color: #ffb1cdf2;
    width: 80%;
    min-width: 1155px;
    display: none;
    margin-top: 5%;
}

#card1{
    margin-top: 5%;
}


#card2{
    margin-bottom: 10%;
}

h4{
    font-family: fonte1;
    text-align: center;
}

h5{
    text-align: center;
}

h6{
    text-align: center;
}

.containers{
    display: none;
    min-width: 900px;
    height: 279px;
}

#logoImg{
    height: 100%;
    margin-left: 37%;
}

#resumo {
    width: 29%;
    margin: 0 auto;
    height: 17%;
    margin-top: -6%;
    margin-right: 28%;
    display: none;
}


.grupo{
        height: 280px;
}


#divMomentos{
    height: 1590;
    width: 80%;
    background-color: #e3e9ff;
    margin: 0 auto;
    display: none;
    min-width: 1366px;
    margin-top: 5%;
}



.imgMomentos{
   width: 30%;
}


#txtMomentos{
    font-family: fonte1;
    font-size: 249%;
    text-align: center;
    color: white;
    background: #6e7bffdb;
    width: 80%;
    margin: 0 auto;
    min-width: 1365px;
    display: none;
}

.hr{
    display: none;
}

#clickHome{
    background-color: #000000de;
    height: 712px;
    width: 70%;
    margin: 0 auto;
    min-width: 920px;
}



.indicadores{
    margin-bottom: 10%;
}

#containerPreco{
    width: 55%;
    margin: 0 auto;
}

     
    

#img1{
         margin-bottom: 185px;
         margin-left: 74px;
         margin-top: 30px;
}

#img2{       
             margin-bottom: 80px;
}

#img4{
         margin-top: 4px;
         margin-left: 74px;
}

#img5{
         margin-bottom: 185px;
}

#img7{
         margin-top: 33px;
         margin-bottom: 42px;
         margin-left: 74px;
}

#img8{
    margin-bottom: 77px;
}



